{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- index.html content starts here -->
<h1>{{ character.name }}</h1>

<!-- Display disc drives -->
<h2>Disc Drives:</h2>
<ul>
    {% for disc in discs %}
    <li>
        <strong>{{ disc.set }}</strong> - {{ disc.main_stat }} <br>
        <strong>Stats:</strong> {{ disc.stat_1 }}, {{ disc.stat_2 }}, {{ disc.stat_3 }}, {{ disc.stat_4 }}
    </li>
    {% endfor %}
</ul>

    <!-- Display the form to create a new Disc -->
    <h2>Create a New Disc:</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form | crispy }} 
        <button type="submit">Save Disc</button>
    </form>


{% endblock %}