{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for character in character_list %}
                <div class="col-md-4">
                    <p class="character">Character: {{character.name}}</p>
                </div>
                {% endfor %}
            </div>
        </div>

<!-- index.html content ends here -->
{% endblock %}